<div class="d-flex justify-content-center">
    <nz-avatar class="mx-3" [nzSize]="120" nzIcon="user" nzSrc="assets/images/barber_shop.jpg"></nz-avatar>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <h2>shop name</h2>
        <nz-rate [ngModel]="3" nzDisabled></nz-rate>
    </div>
</div>
<nz-card class="my-4" nzTitle="Services">
    <div #settingCard id="settingCard" *ngFor="let service of services" nz-card-grid [ngStyle]="gridStyle"
        [ngClass]='isSelectedService(service)?"selectedService":null' (click)="selectService(service)">
        <div>
            <nz-avatar class="mx-3" [nzSize]="'default'" nzIcon="user" [nzSrc]="serviceIcon(service)"></nz-avatar>
            <h5>{{service.serviceName}}</h5>
            <span nz-typography nzType="secondary">{{service.description}}</span>
        </div>
        <div class="row">
            <div class="col-6">
                <h5 class="mb-0" nz-typography nzType="success">{{service.cost}}$</h5>
            </div>
            <div class="col-6">
                <h5 class="mb-0" nz-typography nzType="warning">{{service.duration}} min</h5>
            </div>
        </div>
    </div>

</nz-card>
<nz-divider></nz-divider>
<div class="row my-2">
    <div class="col-4 text-center align-self-center">
        <h5 nz-typography>Reservation Date : </h5>
    </div>
    <div class="col-8 text-center">
        <nz-date-picker class="w-100" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" ngModel></nz-date-picker>
    </div>
</div>
<nz-divider></nz-divider>
<div class="row">
    <div class="col-6 text-center">
        <nz-card  [nzBodyStyle]="{padding: '8px 4px'}">
            <h4 nz-typography nzType="success">Total Cost :{{totalCost}}$</h4>
        </nz-card>
    </div>
    <div class="col-6 text-center">
        <nz-card [nzBodyStyle]="{padding: '8px 4px'}" >
            <h4 nz-typography nzType="warning">Total Duration : {{totalDuration}} min</h4>
        </nz-card>
    </div>
</div>
<div *nzModalFooter>
    <button nz-button nzDanger nzType="primary">Cancel</button>
    <button nz-button nzType="primary">Book</button>
</div>