<div class="row mx-0" style="background: black;">
    <div class="col-md-4">
        map
    </div>
    <div class="col-md-8">
        <div class="row my-5">
            <div class="col-md-6">
                <nz-form-item class="d-block mx-1">
                    <nz-form-label class="h3">Shop Name</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating... ">
                        <input nz-input formControlName="username" placeholder="Shop Name" [nzSize]="'large'" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <h3 class="text-white mt-5">Services:</h3>

        <div class="row d-flex justify-content-start align-items-center mb-5">
            <div *ngFor="let ser of servicList" class="col-lg-3 col-md-4 col-sm-6 p-3">
                <nz-card [nzLoading]="ser.loading" class="action-card" [nzBodyStyle]="{padding: '24px 12px'}" nzHoverable [nzActions]="[dmActions, dmStatus]">
                    <nz-card-meta [nzTitle]="ser.name" [nzDescription]="descriptionTemplate"></nz-card-meta>
                </nz-card>

                <ng-template #descriptionTemplate>
                    <p>dfdf</p>
                </ng-template>

                <ng-template #dmActions>
                    <i class="d-inline mx-2" nz-icon nzType="edit" (click)="showSerModal(ser)"></i>
                </ng-template>


                <ng-template #dmStatus>
                    <i class="d-inline mx-2" nz-icon nzDanger nzType="delete" (click)="showDeleteConfirm(ser.id)"></i>
                </ng-template>
            </div>
        </div>
    </div>
</div>