<div class="wrapper" style="background-image: url('assets/images/11.jpg');">
    <div class="inner" data-aos="fade-up" data-aos-duration="3000">
        <form action="" class="row d-block w-100" [formGroup]="registerForm">
            <div class="col">
                <h3 class="w-100 text-dark ml-1">Registration</h3>
            </div>
            <div *ngIf="isShop" class="col">
                <nz-form-item class="d-block mx-1">
                    <nz-form-label nzRequired>Shop Name</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating... ">
                        <input nz-input formControlName="shop_name" placeholder="Shop Name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item class="d-block mx-1">
                    <nz-form-label nzRequired>User Name</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating... ">
                        <input nz-input formControlName="user_name" placeholder="User Name" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col">
                <nz-form-item class="d-block mx-1">
                    <nz-form-label nzRequired>Password</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating... ">
                        <input type='password' nz-input formControlName="password" placeholder="Password" />
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col text-center" >
                <button nz-button  [disabled]='registerForm.invalid' [nzLoading]='loading' nzType="primary" (click)="submitform(registerForm.value)">Register</button>
            </div>

        </form>
    </div>
</div>