<div class="row mx-0" style="background: black;">
    <div class="col-xl-2">
        <form [nzLayout]='"vertical"' nz-form [formGroup]="shopFilterForm">
            <nz-form-item>
                <nz-form-label>Shop Name</nz-form-label>
                <nz-form-control>
                    <nz-input-group [nzSuffix]="suffixIconSearch">
                        <input type="text" nz-input formControlName="name" appEmptyToNull placeholder="Search On Shop Name" />
                    </nz-input-group>
                    <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search"></i>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Location</nz-form-label>
                <nz-form-control>
                    <nz-select nzAllowClear  class="w-100" formControlName="city">
                        <nz-option nzValue="Manchester" nzLabel="Manchester"></nz-option>
                        <nz-option nzValue="Newcastle" nzLabel="Newcastle"></nz-option>
                        <nz-option nzValue="London" nzLabel="London"></nz-option>
                        <nz-option nzValue="Birmingham" nzLabel="Birmingham"></nz-option>
                        <nz-option nzValue="Liverpool" nzLabel="Liverpool"></nz-option>
                        <nz-option nzValue="Oxford" nzLabel="Oxford"></nz-option>

                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Rate</nz-form-label>
                <nz-form-control>
                    <div class="d-flex justify-content-center">
                        <nz-rate  formControlName="rate" appEmptyToNull></nz-rate>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </form>
            <form [nzLayout]='"vertical"' nz-form [formGroup]="servicesFilterForm">

            <nz-form-item>
                <nz-form-label>Service</nz-form-label>
                <nz-form-control>
                    <nz-select nzAllowClear  class="w-100" formControlName="service_name" appEmptyToNull>
                        <nz-option nzCustomContent  nzValue="wax" nzLabel="Wax">
                            <nz-avatar class="mx-3" [nzSize]="'small'" nzIcon="user" nzSrc="assets/icon/wax.png"></nz-avatar>Wax
                        </nz-option>
                        <nz-option nzCustomContent  nzValue="packages" nzLabel="Packages">
                            <nz-avatar class="mx-3" [nzSize]="'small'" nzIcon="user" nzSrc="assets/icon/packages.png"></nz-avatar>Packages
                        </nz-option>
                        <nz-option nzCustomContent  nzValue="color" nzLabel="Color">
                            <nz-avatar class="mx-3" [nzSize]="'small'" nzIcon="user" nzSrc="assets/icon/color.png"></nz-avatar>Color
                        </nz-option>
                        <nz-option nzCustomContent  nzValue="face" nzLabel="Face">
                            <nz-avatar class="mx-3" [nzSize]="'small'" nzIcon="user" nzSrc="assets/icon/face.png"></nz-avatar>Face
                        </nz-option>
                        <nz-option nzCustomContent  nzValue="hair" nzLabel="Hair">
                            <nz-avatar class="mx-3" [nzSize]="'small'" nzIcon="user" nzSrc="assets/icon/hair.png"></nz-avatar>Hair
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Service Cost</nz-form-label>
                <nz-form-control>
                            <nz-slider [nzMarks]="marks" [nzMin]="1" [nzMax]="1000"  formControlName="cost" appEmptyToNull
                                 ></nz-slider>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control >
                  <button class="w-100" (click)='getShop()' nz-button nzType="primary">Search</button>
                </nz-form-control>
              </nz-form-item>
        </form>
    </div>
    <div class="col-xl-10">
        <google-map height="85vh" width="80vw" [center]="center" [zoom]="zoom">
            <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions"
                [position]='{ "lat": markerPosition.lat,"lng": markerPosition.lng}' (mapClick)="openInfoWindow(markerPosition)"
                [title]='markerPosition.shopName' [options]="markerOptions"></map-marker>
        </google-map>
    </div>
</div>