<section class="site-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(assets/images/big_image_1.jpg);">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">

                <div class="mb-5 element-animate">
                    <img src="assets/images/banner_text_1c.png" alt="Image placeholder" class="img-md-fluid">
                </div>

            </div>
        </div>
    </div>
</section>

<section class="quick-info element-animate" data-animate-effect="fadeInLeft">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 bgcolor">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="media">
                            <div class="mr-3 icon-wrap"><span class="icon ion-ios-telephone"></span></div>
                            <div class="media-body">
                                <h5>+1 234 5633 342</h5>
                                <p>Call us 24/7 we will get back to you ASAP</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="media">
                            <div class="mr-3 icon-wrap"><span class="icon ion-location"></span></div>
                            <div class="media-body">
                                <h5>249 Division Rad</h5>
                                <p>Fake st. New York, New York City, PO 2923 USA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="media">
                            <div class="mr-3 icon-wrap"><span class="icon ion-android-time"></span></div>
                            <div class="media-body">
                                <h5>Daily: 8 am - 10 pm</h5>
                                <p>Mon-Fri, Sunday <br> Saturday: Closed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about mt-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="assets/images/about.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6 mt-5">
                <div class="section-header text-left">
                    <h1>15 Years Experience</h1>
                </div>
                <div class="about-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus.
                        Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
                    </p>
                    <a class="btn" href="">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row justify-content-center mt-5 section-cover mx-0 px-0" style="background-image: url(assets/images/big_image_2.jpg);">
    <div class="col-md-7 text-center">
        <h2 class="mt-5">Feed Back</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magnam illum maiores adipisci pariatur, eveniet.</p>
    </div>
</div>

<section class="site-section" style="background-image: url(assets/images/about-shape.png); background-size: cover;">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
                <h2>Barber Features</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magnam illum maiores adipisci pariatur, eveniet.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="media d-block media-feature text-center">
                    <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-scissors-1"></span></div>
                    <div class="media-body">
                        <h3>Shave &amp; Haircut</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, assumenda rem nulla odio iure animi repellat voluptates ullam omnis enim?</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="media d-block media-feature text-center">
                    <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-cream"></span></div>
                    <div class="media-body">
                        <h3>Cream &amp; Shampoo</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, assumenda rem nulla odio iure animi repellat voluptates ullam omnis enim?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media d-block media-feature text-center">
                    <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-moustache"></span></div>
                    <div class="media-body">
                        <h3>Mustache Expert</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, assumenda rem nulla odio iure animi repellat voluptates ullam omnis enim?</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">

                <div class="media d-block media-feature text-center">
                    <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-scissors"></span></div>
                    <div class="media-body">
                        <h3>Haircut Styler</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, assumenda rem nulla odio iure animi repellat voluptates ullam omnis enim?</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="media d-block media-feature text-center">
                    <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-razor"></span></div>
                    <div class="media-body">
                        <h3>Razor For Beards</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, assumenda rem nulla odio iure animi repellat voluptates ullam omnis enim?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media d-block media-feature text-center">
                    <div class="mr-3 icon-wrap"><span class="custom-icon flaticon-hair-comb"></span></div>
                    <div class="media-body">
                        <h3>Haircomb</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, assumenda rem nulla odio iure animi repellat voluptates ullam omnis enim?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<div class="row justify-content-center mt-5 section-cover mx-0 px-0" style="background: linear-gradient(rgba(29, 36, 52, 1), rgba(29, 36, 52, .5), rgba(29, 36, 52, 1)), url(assets/images/testimonial-bg.jpg);background-size: cover; background-repeat: no-repeat;">
    <div class="col-md-7 text-center my-5 d-flex flex-column justify-content-center align-items-center">
        <h2 class=" my-5 discount ">Appoint a Haircut Today and</h2>
        <h2 class="discount ">Get 25% discount</h2>

        <a class="btn1 mt-5" href="">Make an </a>
    </div>
</div>


<div class="team">
    <div class="container">
        <div class="section-header text-center my-5">
            <p class="discount mt-5">Our Barber Team</p>
            <h1 class="discount ">Meet Our Hair Cut Expert Barber</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/images/person_22.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Adam Phillips</h2>
                        <p>Master Barber</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/images/person_33.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Dylan Adamss</h2>
                        <p>Hair Expert</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/images/person_55.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Gloria Edwards</h2>
                        <p>Beard Expert</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/images/person_44.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Josh Dunn</h2>
                        <p>Color Expert</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
