<nz-spin [nzSpinning]="initLoading">
    <form nz-form [formGroup]="filterForm">
        <div class="row">
            <div class="col-md-12 col-sm-12 py-2">
                <nz-form-item class="d-block mx-1 my-0">
                    <nz-form-label class="text-white">Service Name</nz-form-label>
                    <nz-form-control>
                        <input type="text" nz-input placeholder="Service Name" [formControlName]="'service_name'" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            

            <div class="col-md-12 col-sm-12 py-2">
                <nz-form-item class="d-block mx-1 my-0">
                    <nz-form-label class="text-white">Service Type</nz-form-label>
                    <nz-form-control>
                        <nz-select nzAllowClear  class="w-100" formControlName="service_type" appEmptyToNull>
                            <nz-option nzCustomContent  nzValue="wax" nzLabel="Wax">
                                <nz-avatar class="mx-3" [nzSize]="'small'" nzIcon="user" nzSrc="assets/icon/wax.png"></nz-avatar>Wax
                            </nz-option>
                            <nz-option nzCustomContent  nzValue="packages" nzLabel="Packages">
                                <nz-avatar class="mx-3" [nzSize]="'small'" nzIcon="user" nzSrc="assets/icon/packages.png"></nz-avatar>Packages
                            </nz-option>
                            <nz-option nzCustomContent  nzValue="color" nzLabel="Color">
                                <nz-avatar class="mx-3" [nzSize]="'small'" nzIcon="user" nzSrc="assets/icon/color.png"></nz-avatar>Color
                            </nz-option>
                            <nz-option nzCustomContent  nzValue="face" nzLabel="Face">
                                <nz-avatar class="mx-3" [nzSize]="'small'" nzIcon="user" nzSrc="assets/icon/face.png"></nz-avatar>Face
                            </nz-option>
                            <nz-option nzCustomContent  nzValue="hair" nzLabel="Hair">
                                <nz-avatar class="mx-3" [nzSize]="'small'" nzIcon="user" nzSrc="assets/icon/hair.png"></nz-avatar>Hair
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

    
            <div class="col-md-12 col-sm-12 py-2">
                <nz-form-item class="d-block mx-1 my-0">
                    <nz-form-label class="text-white">Cost</nz-form-label>
                    <nz-form-control>
                        <nz-input-group nzAddOnBefore="" nzAddOnAfter="$">
                            <nz-input-number class="ltr-input w-100" [formControlName]="'cost'" [nzMin]="0" [nzStep]="1"
                            nzPlaceHolder="Cost" appEmptyToNull> </nz-input-number>
                          </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-md-12 col-sm-12 py-2">
                <nz-form-item class="d-block mx-1 my-0">
                    <nz-form-label class="text-white">Duration in Minute</nz-form-label>
                    <nz-form-control>
                        <nz-input-number class="ltr-input w-100" [formControlName]="'service_duration'" [nzMin]="0" [nzStep]="1"
                        nzPlaceHolder="Duration" appEmptyToNull> </nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>

        </div>
    </form>
</nz-spin>

<div *nzModalFooter>
    <button nz-button nzType="text" (click)="handleCancel()">Cancel</button>
    <button type="button" class="btn btn-dark" (click)="submitForm(filterForm.value)">Save</button>
</div>