<header role="banner">
    <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
            <!-- <img src="assets/images/logo1.png" /> -->
            <a class="navbar-brand" href="index.html">BarBer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/shops']" >Shops</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/reservation']">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/my-shop']">My Shop</a>
                    </li>
                   <!--  <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li> -->
                </ul>

            </div>
        </div>
    </nav>
</header>
<div class="p-4">
    <router-outlet></router-outlet>
</div> 
<footer class="row justify-content-center align-items-center mt-5 section-cover mx-0 px-0" style="background-image: url(assets/images/footer1.png); height: 200px;">
    <div class="container">
        <div class="row align-items-center ">
            <div class="col-md-4">
                <p>Barber</p>
                <h5 style="color: white;">+1 234 5633 342</h5>
                <p>Call us 24/7 we will get back to you ASAP</p>
            </div>
            <div class="col-md-8  ">
                <ul class="navbar-nav ml-auto pl-lg-5 pl-0 d-flex justify-content-end flex-row">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
